@page
@model StudentHelper.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Student List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.StudentFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.StudentLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.StudentEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.RegistrationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
                @Html.ActionLink("Details", "Details", new {  id=item.StudentId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.StudentId })
            </td>
        </tr>
}
    </tbody>
</table>